* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
}
.logo {
  background-image: url(amazon\ logo.png);
}
