.contact-contanire {
  background-color: rgb(146, 149, 151);
}
.card-content {
  background-color: rgb(183, 244, 226);
  display: flex;
  justify-content: left;
  justify-items: stretch;
  border: 3px solid;
  border-radius: 5px;
}
.card-item {
  display: grid;
  grid-template-columns: 180px;
}
