* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card {
  background: rgb(252, 242, 242);
  width: 250px;

  margin: 10px;
  border-radius: 15px;
}
.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card-image {
  background-color: aqua;
  height: 260px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.img-1 {
  background-image: url(./candy.jpg);
}
.img-2 {
  background-image: url(Walmart-Bakery-shutterstock-4x3-2-6d103311249d49379324e18d33972c16.jpg);
}
.img-3 {
  background-image: url(./Walmart-shopping-cart-25-dollars-groceries.jpg);
}
.img-4 {
  background-image: url(./images.jpeg);
}
.img-5 {
  background-image: url(./images-2.jpeg);
}
.img-6 {
  background-image: url(./images\ copy.jpeg);
}
.best {
  text-align: center5;
}
/* .about {
  float: left;
} */
.get {
  border: 2px solid red;
}
.read {
  border: 2px solid red;
}
.sir {
  border: 2px solid red;
}
.message {
  border: 2px solid red;
}

.checkout {
  border: 2px solid red;
}

.text {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact {
  background-color: rgb(218, 191, 242);
  text-align: center;
  margin: 40px;
  min-height: 100vh;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.contact-wrapper {
  display: grid;

  /* grid-template-columns: repeat(1); */
  grid-gap: 30px;
}
.contact-form {
  text-align: left;
}
.contect-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}
input,
textarea {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: solid;
  background-color: #f8f9fa;
  color: #333;
}
/* input: focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #abbb;
} */
button {
  display: inline-block;
  padding: 18px 23px;
  background-color: #4caf50;
  color: #0a0a0a;
  border-radius: 8px;
  border: solid red;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}
button:hover {
  background-color: #0b5a0f;
}
.name1 {
  text-align: left;
}
