.card {
  background: rgb(252, 242, 242);
  width: 250px;

  margin: 10px;
  border-radius: 15px;
}
.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card-image {
  background-color: aqua;
  height: 260px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.img-1 {
  background-image: url(./candy.jpg);
}
.img-2 {
  background-image: url(Walmart-Bakery-shutterstock-4x3-2-6d103311249d49379324e18d33972c16.jpg);
}
.img-3 {
  background-image: url(./Walmart-shopping-cart-25-dollars-groceries.jpg);
}
.img-4 {
  background-image: url(./images.jpeg);
}
.img-5 {
  background-image: url(./images-2.jpeg);
}
.img-6 {
  background-image: url(./images\ copy.jpeg);
}
.best {
  text-align: center5;
}
/* .about {
  float: left;
} */
.get {
  border: 2px solid red;
}
.read {
  border: 2px solid red;
}
.sir {
  border: 2px solid red;
}
.message {
  border: 2px solid red;
}

.checkout {
  border: 2px solid red;
}

.text {
  text-align: center;
}
