.container {
  display: flex;
  justify-content: center;
}
.card {
  background: gray;
  width: 220px;

  margin: 10px;
  border-radius: 15px;
}
.card-image {
  background-color: aqua;
  height: 260px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.img-1 {
  background-image: url(candy.jpg);
}
.img-2 {
  background-image: url(Walmart-Bakery-shutterstock-4x3-2-6d103311249d49379324e18d33972c16.jpg);
}
.img-3 {
  background-image: url(walmart.jpg.webp);
}
.card p {
  padding: 10px;
}
